body { font-size: 100%; }

h1{
    font-size: 3em;
}
button{
    font-size: 15px!important;
}

p{
    padding: 20px;
}

/*White on black*/
.wob{}
.accessibleText{
    background: black!important;
    color: white!important;
}