/***
GENERAL
***/
body {
    font-size: 100%;
    position: relative;
}
h1{
    font-size: 3em;
}

/***
GUI
***/
/* Links */
a{
    text-decoration:none;
    color: black;
}
a:hover{
    text-decoration:none;
    color: blue;
}
/* input fields */
input[type='text'],
input[type='email']{
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 5px;
}

input[type='text']:focus,
input[type='email']:focus{
    outline: 1px solid red;
}
/*buttons*/
input[type='submit'],
button,
.btn-cta{
    background-color: green;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    display: inline-block;
}
input[type='submit']:hover,
button:hover,
.btn-cta:hover{
    background-color: white;
    color: black;
    border: 1px solid green;
    cursor: pointer;
}
input[type='submit']:focus,
button:focus,
.btn-cta:focus{
    background-color: white;
    color: black;
    outline: 1px solid red;
    cursor: pointer;
}

/***
HEADER
***/
header{
    background-color: lightgrey;
    text-align: center;
}

/***
ABOUT US
***/
#about-us{
    background-color: lightblue;
}

/***
ABOUT US
***/
#test-quota{
    background-color: lightpink;
}
#test-quota img{
    max-width: 100%;
}

/***
ABOUT US
***/
#conversion{
    background-color: antiquewhite;
}

/***
TEMOIGNAGE
***/
#temoignages{
    background-color: #edffbc;
}
#temoignages blockquote img{
    margin:auto;
    display:block;
}
#temoignages blockquote p{
    max-width:300px;
    display:block;
    margin:auto;
}
#temoignages cite{
    max-width:300px;
    text-align: right;
    display:block;
    margin:auto;
}

/***
FOOTER
***/
footer{
    background-color: lightgrey;
    text-align: center;
}

/***
PARTAGE RS
***/
#share-buttons img {
    width: 45px;
    padding: 5px;
    border: 0;
    box-shadow: none;
    display: inline;
}

/***
MODULE ACCESSIBILITE
***/
#module-accessibilite{
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid lightgrey;
    z-index: 1000;
}
.white-on-black{
    background : black;
    color : white;
    border: 1px solid white;
}
