@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir.otf') format('truetype');
}

@media screen {
    .screen-reader-text {
        display: none;
    }
}

body{
    margin:0;
    font-family: 'Avenir', sans-serif;
}

body.in-transition {
    transition: transform 900ms ease;
}

header {
    background-image: url("../img/header.jpg");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
    background-position: bottom;
    width:100%;
    height:100vh;
    overflow: hidden;
}

header .logoContainer{
    margin:150px auto 50px;
    width:auto;
    background-color: red;
}

header .punchText{
    position:relative;
}

header p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    position:absolute;
    animation-fill-mode: forwards;
    text-align:center;
    width:80%;
}

header p:first-of-type {
    animation-duration: 3s;
    animation-name: slideFromLeft;
}

header p:last-of-type {
    animation-duration: 7s;
    top:120px;
    animation-name: slideFromRightAfter;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        left: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 10%;
    }
}

@keyframes slideFromRightAfter {
    0% {
        opacity: 0;
        right: 0;
    }

    60% {
        right: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        right: 10%;
    }
}

header .downArrow{
    text-align: center;
    font-size: 1.5rem;
    animation: bounce 1s infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {
        margin-top: calc(100vh - 220px);
    }
    to {
        margin-top: calc(100vh - 225px);
    }
}

section{
    position: relative;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.intro{
    height:100vh;
    padding:0 15%;
    text-align: center;
}

section.intro h1{
    font-weight: bolder;
    margin-bottom: 60px;
}

section.intro a{
    text-decoration: none;
    background-color: #E09E00;
    display: block;
    height:30px;
    width:75%;
    border-radius: 30px;
    line-height: 30px;
    color: #fff;
}

.threePartConcept article{
    box-sizing: border-box;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height:33.4vh;
    filter: brightness(50%);
    text-align: center;
    display:flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding:0 15%;
}

#firstPart{
    background-image: url("../img/firstPart.jpg");
    filter: initial;
}

#secondPart{
    background-image: url("../img/secondPart.jpg");
}

#thirdPart{
    background-image: url("../img/thirdPart.jpg");
}

.threePartConcept article span{
    font-size: 3rem;
    font-weight: bolder;
}

.threePartConcept article h2{
    color: #EDB42C;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    margin:0;
}

.threePartConcept article p{
    color: #fff;
    font-size:14px;
    margin:0;
}

#inscritpion{
    height: 70vh;
    padding: 0 15%;
    text-align: center;
}

#inscritpion h4{
    font-weight: bolder;
    margin-bottom:0;
}

#inscritpion p{
    font-size: 0.9rem;
}

#inscritpion form > div {
    display:flex;
    flex-flow: row;
    margin-top:15px;
}

#inscritpion form input[type="email"]{
    background:none;
    border:1px solid #EDB42C;
    color: #000;
    padding:10px;
    width:100%;

}

#inscritpion form > label{
    font-size: 0.7rem;
    display:flex;
    flex-flow: row;
    text-align: left;
}

#inscritpion form input[type="checkbox"]{
    margin-right:20px;
}

#inscritpion form input[type="email"]:focus{
    margin-bottom:0;
    border-color: #EDB42C;
}

#inscritpion form input[type="submit"]{
    text-align: center;
    background-color: #EDB42C;
    color: #fff;
    border:none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    box-sizing: border-box;
    transition:0.5s;
}

#inscritpion form input[type="submit"]:hover{
    background-color:#E09E00;
}

#inscritpion .socialNetworks{
    margin: 40px 0 20px;
}

#inscritpion .socialNetworks p{

}

#inscritpion .socialNetworks > div{
    display:flex;
    justify-content: space-evenly;
    width:90vw;
    margin-top:20px;
}

#inscritpion .socialNetworks > div a{
    color: #000;
    text-decoration: none;
    transition: 250ms;
}

#inscritpion .socialNetworks > div a:visited{
    color: #000;
}

#inscritpion .socialNetworks > div a:focus{
    border:none;
}

#inscritpion .socialNetworks > div a:first-of-type:hover, #inscritpion .socialNetworks > div a:first-of-type:focus{
    color: #3b5998;
}

#inscritpion .socialNetworks > div a:nth-of-type(2):hover, #inscritpion .socialNetworks > div a:nth-of-type(2):focus{
    color: #1da1f2
}

#inscritpion .socialNetworks > div a:nth-of-type(3):hover, #inscritpion .socialNetworks > div a:nth-of-type(3):focus{
    color: #0e76a8
}

#inscritpion .socialNetworks > div a:last-of-type:hover, #inscritpion .socialNetworks > div a:last-of-type:focus{
    color: #fb3958
}

#inscritpion .socialNetworks > div a i{
    margin-right: 5px;
}

footer{
    height:30vh;
    width:100%;
    background-color: #1a1a1a;
    padding:10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    transition: 900ms;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

footer h5{
    margin: 10px 0 20px;
}

#share-button{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3f3f3f;
    border:none;
}

#share-button:hover{
    cursor: pointer;
}

footer a, footer span{
    color: #fff;
    margin: 10px 0 0;
    text-decoration: none;
    display:block;
    font-size: 0.9rem;
}

footer span{
    color: #3f3f3f;
    font-size: 0.7rem;
}

footer a:visited{
    color: #fff;
}

.mentions_legales h2, .mentions_legales h3, .mentions_legales a{
    color: #E09E00;
}


